/*学校首页*/
body{min-width:100%;overflow:hidden; padding:0; min-height:800px}
body .BG_cover{position:absolute;top:0;left:0;height:100%;width:100%;background:url(../images/schoolBG.jpg) center top;background-size:cover;overflow:hidden}

.school_home .body_BG,.school_home .mask{position:absolute;top:0;left:0;height:100%;width:100%}
/*.school_home .body_BG{*width:98%;*height:98%}*/
.school_home .mask{background:#000;filter:Alpha(opacity=60);opacity:.6}
.school_home .head{height:50px;position:relative;background:#e6ebed}
.school_home .head_BG{height:60px;width:100%;background:#999;filter:Alpha(opacity=10);opacity: 0.1;position:absolute;top:0;left:0}

.head h1{background:url(../images/new_sprite.png) -240px -320px}
.head .userCenter{margin-right:5px}


.school_home .main{width:980px;height:500px;position:absolute;left:50%;top:120px;margin-left:-480px;color:#fff}
.school_home .main_top{border-bottom:1px solid #777}
.school_home h2{font-size:36px;line-height:36px;padding-bottom:23px;letter-spacing:5px}
.school_home h3{font-size:20px;padding-bottom:30px;opacity:0.8;filter:alpha(opacity=80);letter-spacing:5px}
.school_home .main_top p{font-size:16px;padding-bottom:20px;opacity:0.8;filter:alpha(opacity=80)}
.school_home .main_top p span{margin-right:40px}
.school_home .main .objList{padding-top:20px}
.school_home .main .objList li{font-size:24px;height:80px}
.school_home .main .objList li i{height:80px;width:90px;background:url(../images/new_sprite.png)}
.school_home .main .objList .objA i{background-position:0 0}
.school_home .main .objList .objB i{background-position:-80px 0}
.school_home .main .objList .objC i{background-position:-160px 0}
.school_home .main .objList .objD i{background-position:-240px 0}
.school_home .main .objList li a{color:#fff}
.school_home .main .objList li a b{display:inline-block;height:100px;width:50px;vertical-align:middle;}
.school_home .main .objList li a:hover b{background:url(../images/new_sprite.png) no-repeat -4px -353px;*background:url(../images/new_sprite.png) no-repeat -24px -348px}

.home_foot{height:60px;position:absolute;bottom:0;width:100%;left:0}
.home_foot_BG{background:#000;opacity:0.3;filter:Alpha(opacity=30);height:60px;width:100%;position:absolute;top:0;left:0}
.foot{background:none}
