*{margin:0;padding:0;}
/*选项栏*/
.container{width:1200px;margin:18px auto;float:none;}
.tch_head ul{float:left;}
.tch_head ul li{float:left;width:70px;height:22px;padding:19px 31px 19px 32px}
.tch_head ul li a{float:left;width:70px;height:22px;line-height:22px;text-align:center;border-radius:3px;color:#333}
.tch_head ul li .ac{background-color:#0fade5;color:#fff}
button.btn40:hover{background-color:#00a0e9;}
/*主体*/
.main{width:1200px;margin:0 auto}
.bg_fff{background:white;}
.main_left{width:910px;float:left;margin-bottom:40px;}
/*选项卡*/
ul.main_tab{width:910px;height:60px;line-height:60px;border-bottom:1px solid #f5f5f5;margin-bottom:18px;}
ul.main_tab li{float:left;width:110px;text-align:center;border-right:1px solid #f5f5f5;}
ul.main_tab li#select{border-top:4px solid #10ade5;line-height:56px;}
/*收入明细*/
div.class_fff .page{text-align:center;margin-top:30px;}
div.class_fff .page input{margin:0 5px;}
div.class_fff .page a{margin:0 5px;}
/*我的等级*/
.tab_fff ul li a,.tab_3_fff ul li a{font-size:16px;margin:0 2px;}
/*收入明细 && 我的等级共用*/
.conversion{width:690px;text-align:right;}
div.class_fff{padding:54px 50px;}
.tab_fff{padding:27px 110px 47px;}
div.class_fff table,.tab_fff table{width:100%;text-align:center;}
div.class_fff table thead tr,.tab_fff table thead tr{background:#d7f2fc;height:40px;line-height:40px;}
div.class_fff table tbody tr,.tab_fff table tbody tr{line-height:60px;height:60px;border-bottom:1px solid #dcdcdc;}
/*积分商城*/
.tab_3_fff{min-height:500px;padding:54px 0 54px 110px;}
/*strong{font-weight:bold;}*/
li.img_name{text-align:center;padding: 0 5px;}
.table li.rol_{margin-top:50px;width:222px;margin-right:20px;height:316px;}
button.btn40{background:#11ade6;border:1px solid #11ade6;}
/*右侧我的积分*/
.main_right{float:right;width:260px;}
.main_right .myScores{background:white;}
.main_right .title_pannel{width:100%;line-height:40px;height:40px;background:#d7f2fc;}
.main_right .title_pannel i {width: 20px;height: 18px;margin:-5px 5px 0 15px;background: url("../images/ico.png") -379px -641px;}
/*#main_right .title_pannel:hover i{background: url("../images/ico_hover.png") -379px -641px;}*/
.main_right .title_pannel a{width: 16px;height: 16px;margin:12px;float:right;display:block;background:url("../images/ico.png") -380px -714px;}
.main_right ul.score{position:relative;height:58px;padding-bottom:12px;border-bottom:1px solid rgb(220, 220, 220);}
.main_right .scores li{color:rgb(136,136,136);width:33%;height:58px;float:left;text-align:center;}
.main_right .scores li span{font-size:21px;display:block;margin-bottom:10px;}
.main_right .scores i.scoreArrow{position: absolute;left: 168px;bottom: -1px;width: 11px;height: 7px;background: url(../images/ico.png) -540px -860px;}
.main_right p{padding:8px 0;}
.main_right .percent{width:206px;height:14px;border:1px solid rgb(126, 206, 244);position:relative;}
.main_right .percentRate{z-index:21;overflow:hidden;background-color: rgb(15, 173, 229);position:absolute;height:14px;line-height:14px;}
.main_right .percentRate .percentNumWhite{position: absolute;left: 60px;top: 0;color:white;height: 14px;width: 100px;}
.percentNumBlue {z-index:20;position: absolute;left: 60px;top: -5px;color:rgb(15, 173, 229);height: 14px;width: 100px;}
/*#confirm_integral_main{padding:30px 35px 0px;}*/
.main_tab a{color:black;}
.select_income a{color:#10ade5;}
.update a{cursor:default;}
.cursor_def{cursor:default;}
.margin_{margin-top:10px;margin-bottom:20px;}
.mg_bo{margin-bottom: 10px;}
/*.tab_fff table{margin-top:24px}*/
.confirm_integral{position:absolute;background-color:white;width:1000px;height:420px;border:1px solid #dcdcdc;z-index:999;}
.confirm_integral_header{text-indent:10px;background:#10ade5;line-height:30px;color:white;}
.confirm_integral_header i{background:url("../images/remove.png") no-repeat 9px 9px;float:right;height:30px;width:30px;cursor:pointer;}
.confirm_integral_header i:hover{background-color:#0D90BF;}
.integralAddress_main{padding:30px 35px 0;}
ul.addressMessage.left{width:330px;float:left;margin-top:10px;}
ul.addressMessage.left li{margin:10px 0;display:inline-block;}
ul.addressMessage.right{background:url("../images/promptMessage.jpg") no-repeat;float:right;width:525px;height:100px;padding-top:80px;padding-left:60px;color:#999;}
ul.addressMessage input{width:210px;}
ul.addressMessage textarea{width:200px;height:40px;border:1px solid #aaa;}
span.addressMessage{display:inline-block;width:80px;text-align:right;}
span.warn{display:inline-block;color:white;background:#feca2f;border-radius:50%;width:15px;height:15px;line-height:15px;text-align:center;}
p.warnMessage{margin-left:75px;font-size:12px;}
.confirm{border-color:#10ade5;margin-right:70px;}
.confirm:hover{color:white;background-color:#10ade5;}
.btn_cancel{border-color:#ccc;color:#ccc;}
.btn_cancel:hover{background-color:#ccc;color:white;}
.button_{width:90px;line-height:26px;border:1px solid;display:inline-block;text-align:center;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.btn_class{width:300px;margin-left:30px;margin-top:15px;}
.giftMessage{margin-left:290px;margin-top:30px;}
/*积分说明2016.11.11*/
.scoresWarn{
    margin-top:25px;
}
.scoresWarn .title_pannel i{
    background:url("../images/scoresWarn.png") no-repeat;
}
.scoresWarn .title_pannel:hover i{
    background:url("../images/scoresWarn.png") no-repeat;
}
.scoresWarn .scores{
    background: white;
}
button.btngray{
    background-color: #BABABA;
    color:#fff;
    border: 1px solid #BABABA;
}
.main_left ul.integralLists{
    background-color: #fff;
    padding: 6px 5px 5px 25px;
}
.main_left ul.integralLists li{
    float: left;
    width:90px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.main_left ul.integralLists li a.none{
    color:#333;
}
.main_left ul.integralLists li a.ac{
    color: #10ade5;
}
div.tchIntegral{
    /*padding-left: 20px;*/
    padding: 0 40px;
}
td.headFace{
    text-align: right;
    width: 23%;
}
td.headFace img{
    margin-bottom:-14px;
    border-radius: 50%;
}
td.faceName{
    text-align: left;
}
td.heightlight{
    color:#10ade5;
    font-weight: 700;
}
.integralDetail{
    text-align: right;
    height: 50px;
    line-height: 68px;
}
.integralDetail span{
    display: inline-block;
    width:20px;
    height: 20px;
    background: url(../images/whyIcon.png)no-repeat center center;
    margin-bottom: -4px;
    margin-left: 5px;
}
#center{
    background: white;
    padding: 10px;
}