* {margin:0;padding:0}
#treeList{max-height:300px;overflow-y:scroll;}
.main {width:1200px;margin:0 auto}
h2.main_top {line-height:60px;margin-top:18px}
h3.main_top {line-height:60px;margin-top:18px}
h2.main_top a {margin:15px 0}
h3.main_top a {margin:15px 0}
.bg_fff {background:#fff}
.main_bottom {padding:60px 135px;margin-top:20px;min-height:600px}
.form_list .formL,.form_list .formR {float:left;line-height:30px}
.form_list .formL label {display:inline-block;height:40px;line-height:40px;text-align:right;vertical-align:middle;padding-right:15px}
label {width:90px;padding-right:15px}
.mg_t {margin-top:7px}
.submitBtnBar {margin-top:40px;padding-top:20px}
.up_test_list .more {background:url("../../pub/images/pluse.jpg") no-repeat #fff 75px 40px;height:120px;border:1px solid #7ecef4;cursor:pointer;width:180px;text-align:center;line-height:160px}
.row {margin-top:10px}
textarea {width:800px;height:150px;margin-top:10px}
.btn40 {width:120px;height:35px;margin-left:0}
#fileupload {width:0;height:0}
.imgFile {color:#ccc}
.delBtn {position:absolute;top:3px;right:3px;height:20px;width:20px;background:url(../images/ico.png) -460px -680px;cursor:pointer}
.up_test_list {width:776px}
.pic_list {text-align:center;width:180px;float:left;clear:none !important;margin-right:10px;margin-bottom:10px;position:relative;line-height:30px}
.pic_list img {border:1px solid #ccc;width:180px;height:120px;display:block}
ul.up_test_list li {float:left}
.formError {z-index:80}
.formError .formErrorArrow {z-index:95}
.ui-dialog .formError {z-index:80}/*5000*/
.ui-dialog .formError .formErrorContent {z-index:80}/*5001*/
.ui-dialog .formError .formErrorArrow {z-index:80}/*5006*/
.inputContainer {position:relative;float:left}
.formError {display:block;position:absolute;top:300px;left:300px;text-align:left;cursor:pointer;font-size:12px;line-height:20px;*margin-top:3px !important}
.formError.inline {display:inline-block;position:relative;top:0;left:0}
.ajaxSubmit {display:none;padding:20px;border:1px solid #999;background-color:#55ea55}
.errorTxt {margin-left:10px;height:24px;line-height:20px;width:150px;position:absolute;left:300px;top:10px}
.greenPopup .formErrorContent {background:url(../images/ico_pub.png) no-repeat -130px -320px;text-align:left;cursor:pointer;font-size:12px;padding:0;padding-left:24px;line-height:20px;margin-top:3px;}
.addPointBtn {width:120px !important;background:#6cd685 !important;margin:0}
.add_pic {color:#f97171;font-size:14px}
.imgsup {padding-left:105px}
.label_fileupload{color: grey;cursor:pointer;width:182px;height:122px;display:inline-block}
#treeBox .chooseLabel{max-height:96px;overflow-y:scroll;}
.ui-widget{font-size:1em;}