{#
/**
 * Created by PhpStorm.
 * User: Administrator
 * Date: 2016/1/30
 * Time: 14:12
 */
#}
<div class="headWrap">
    <div class="col1200">
        <div class="head">
            <h1>学校后台管理中心</h1>
            <div class="userCenter">
                <div class="userChannel">
                    <img src="../dev/images/head_70.png" style="vertical-align: middle;">张三丰 <a class="logoff" href="javascript:;">退出</a>
                </div>
            </div>
        </div>
    </div>
</div>